doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:300,400,700,800|Roboto:400,900")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css")
    link(rel="stylesheet" href="css/bootstrap-image-gallery.min.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")

    title The Streak Of Tigers

    block link
      -var selected = ''
    -var menu = { 'home': 'index.html', 'about': 'about.html', 'schedule' : 'schedule.html', 'photos' : 'photos.html' , 'contact': 'contact.html' };
body
  div.container-fluid
    div.row
      if selected === 'home'
        div.jumbo
          div.container
            div.row
              div.col-md-2.light-nav.hidden-md-down
                div.row
                  div.col-xs-12
                    img(src="img/tiger_logo.png" class="img-fluid pull-md-left" )
                    em STREAK
                    br
                    em OF
                    br
                    em TIGERS
                div.row
                  div.text-md-center
                    p NAKA IMA
                    p AIKIDO
              div.col-md-2.dark-nav
                ul.nav
                  each val, key in menu
                    if selected === key
                      li.nav-item
                        a(href=val class="nav-link active text-uppercase")= key
                    else
                      li.nav-item
                        a(href=val class="nav-link text-uppercase")= key
              div.col-md-9
                div(id="home-carousel" class="carousel" data-ride="carousel")
                  ol.carousel-indicators
                    li(data-target="#home-carousel" data-slide-to="0" class="active")
                    li(data-target="#home-carousel" data-slide-to="1")
                    li(data-target="#home-carousel" data-slide-to="2")
                  div(class="carousel-inner" role="listbox")
                    div.carousel-item.active
                      div.viewport-height
                      div.carousel-caption.animated.fadeInDownBig
                        h1.text-uppercase.animated.fadeInDownBig bully proof
                        p.animated.fadeInUp The Tigers program has proven track record of providing kids with tips and strategies to deal with bullies.
                    div.carousel-item
                      div.viewport-height
                      div.carousel-caption
                        h1.text-uppercase Get moving!
                        p Each 50- minute class is  flurry og jumping, running, ducking, rolling, spinning and non-stop martial arts action.
                    div.carousel-item
                      div.viewport-height
                      div.carousel-caption
                        h1.text-uppercase Be a Tiger
                        p If you want to be a Tiger, you need to train with Tigers
      else
        div.jumbo-about
          div.container
            div.row
              div.col-md-2.hidden-sm-down.light-nav
                div.row
                  div.col-xs-12
                    img(src="img/tiger_logo.png" class="img-fluid pull-xs-left" )
                    em STREAK
                    br
                    em OF
                    br
                    em TIGERS
                div.row
                  div.text-md-center
                    p NAKA IMA
                    p AIKIDO
              div.col-md-2.hidden-sm-down.dark-nav
                ul.nav
                  each val, key in menu
                    if selected === key
                      li.nav-item
                        a(href=val class="nav-link active text-uppercase")= key
                    else
                      li.nav-item
                        a(href=val class="nav-link text-uppercase")= key
  nav(class="navbar navbar-light navbar-fixed-top bg-faded hidden-lg-up animated" id="element")
    div.container
      button(class="navbar-toggler hidden-lg-up" type="button") &#9776;
      div(class="collapse hidden-md-down" id="nav-button")
        a(class="navbar-brand" href="#")
          img(src="img/tiger_logo.png" class="img-fluid pull-xs-left")
          span Streak Of Tigers
        ul(class="nav navbar-nav pull-md-right")
          each val, key in menu
            if selected === key
              li.nav-item.active
                a(href=val class="nav-link text-uppercase")= key
            else
              li.nav-item
                a(href=val class="nav-link text-uppercase")= key
  block content
  block footer